@model IEnumerable<Account.Models.User>

<br/>
@foreach (var item in Model)
{
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="data:@item.ContentType;base64,@item.Base64String" width="100" height="100">
        </div>
        <div class="media-body">
            <h4 class="media-heading">@item.Email</h4>
            <p style="word-break: break-all">
                @item.Description
            </p>
        </div>
    </div>
}


