@{
    ViewBag.Title = "Home Page";
}
@section Sidebar{
    <a href="#">
        Текст 1
        <span class="sr-only">(current)</span>
    </a>    
}
<h1 class="page-header">qqqqqqqqq</h1>

<p>
    что пароход изобретен: Петром I, А. Эйнштейном и А. Поповым;
    Диего Веласкес писал свои полотна в стиле: империализма, кубизма и империосионизма;
    Фаросский маяк находится в Фаросе;
    конфуцианство возникло в: Италии, Корее и Франции;
    богами торговли и воровства в Древней Греции были: Марс, Меркурий и Дионис;
    Франция – это город;
    богами загробного мира в Египте были: Аид, Анубис и Ассирис;
    столица Золотой Орды — Монголия;
    главные противники Александра Македонского: татаро-монголы, Дедал и Цезарь;
    священными птицами — символами Афин были: ворона и орел;
    в Древней Греции морями повелевали боги: Плутон, Нептун и Тритон.
</p>